* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* Prevent scrolling beyond the sites' content, e.g. on
  laptop trackpads */
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
